* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #111010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    background: url('../background/bg-portrait.jpg') no-repeat center center/cover;
    background-color: #FF6347;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 700px;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

#video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: #000;
}

#photo {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#timerContainer {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#countdown {
    color: #ff4500;
    font-size: 3rem;
    font-weight: bold;
}

#buttonsContainer {
    margin-top: 20px;
}

.start-btn {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.start-btn:hover {
    background-color: #ff4d4d;
}

.selected {
    background: #FFFF00 !important;
    color: #000 !important;
}

/* Save button */
#saveBtn {
    background-color: #28a745; /* Green */
    color: white;
    padding: 15px 30px;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#saveBtn:hover {
    background-color: #218838;
}

/* Retake button */
#retakeBtn {
    background-color: #dc3545; /* Red */
    color: white;
    padding: 15px 30px;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#retakeBtn:hover {
    background-color: #c82333;
}
